@use '../../../styles/colours.scss' as *;
@use '../../../styles/mixins.scss' as *;
@use '../../../styles/global.scss' as *;


.navbar {

    &__link {

        font-size: $px28;
        font-weight: medium;
        text-decoration: none;
        color: $dark;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;

        &--first {
            margin-left: 1rem;
        }

        &--second {
            margin-right: 1rem;
        }
    }

    .active {
        color: $coloured-bright;
    }

}

.hamburger {
    display: flex;
    flex-direction: row;
    width: 3rem;
    gap: 0.25rem;
    margin-left: auto;
    overflow: hidden;

    @include tablet {
        display: none;
    }

    &__bar {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-color: $hamburger-bar;
        border-radius: 2rem;
    }

    &.active &__bar--1 {
        width: 1.5rem;
    }

    &.active &__bar--2,
    &.active &__bar--3 {
        margin-right: -2rem;
    }

}