@use "../../../styles/colours.scss" as *;

.next-btn {
    background-color: $coloured-bright;
    color: white;
    border: none;
    padding: 0.4rem 1.8rem;
    border-radius: 0.3rem;
    font-weight: 500;
    cursor: pointer;
}