// global colours

$coloured: FF382D; // red

$dark: #000000; // black

$shade-1: #5B5B5B; // dark grey

$shade-2: #8A8A8A; // mid grey

$shade-3: #EFEFEF; // light grey

// register form page

$in-review-bg: #FFF1BD; // yellow