// global colours

$coloured: #FF382D; // red

$coloured-bright: #FF3125; // Brighter red

$dark: #000000; // black

$bright: #ffffff; // white

$shade-1: #5B5B5B; // dark grey

$shade-2: #8A8A8A; // mid grey

$shade-3: #EFEFEF; // light grey

$shade-4 : #B7B7B7;

// header 

$hamburger-bar: black;

// register form page

$in-review-bg: #FFF1BD; // yellow