@use "./colours.scss" as *;

$tablet-width: 768px;
$desktop-width: 1280px;
$highres-width: 1600px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin highres {
    @media (min-width: $highres-width) {
        @content;
    }
}

// Register Main page
@mixin selection($color) {
    border: solid $px2 $color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 0;
    cursor: pointer;
    &:hover{
        border: solid 2px $coloured-bright;
        color: $coloured-bright;

    &:hover {
        border: solid $px2 $coloured-bright;
        color: $coloured-bright;
        transition: all 0.3s;
    }

    &__img {
        width: 2.5rem;
        height: 2.5rem;
    }

    @include tablet {
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        padding: 1.5rem 0;
    }
}

@mixin center {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}