@use '../../styles/colours.scss' as *;
@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-eventfilter,
.c-businessfilter {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1rem;

    left: 0;
    position: absolute;
    background-color: $bright;
    padding: 1rem;


    transition: all 0.25s ease-in-out;
    pointer-events: none;
    opacity: 0;

    @include desktop {
        position: unset;
        opacity: 1;
        pointer-events: all;
    }

    &.active {
        opacity: 1;
    }



    &__search-input,
    .group-filter__input {
        box-sizing: border-box;
        height: $px34;
        border: thin solid $search-border;
        border-radius: $px5;
    }

    &__search-btn {
        margin-top: auto;
        font-weight: 700;
    }
}


.filter-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 1rem;

    opacity: 0;
    pointer-events: none;

    @include desktop {
        opacity: 1;
        pointer-events: all;
    }

    &__subtitle {
        font-size: 1rem;
        font-weight: 700;
        width: 100%;
        flex-grow: 2;
    }

    &__btn {
        transition: border 0.125s ease-in-out;
    }

    &__btn.active {
        border: thin solid $coloured;
    }

    &__btn,
    &__input {
        height: 2rem;
        line-height: 2rem;
        // font-size: $px18;
        font-size: 1rem;
        border: thin solid $search-border;
        border-radius: $px5;
        text-align: center;
    }

    &__input--search,
    &__input--price-min,
    &__input--price-max {
        text-align: left;
        text-indent: 0.5rem;
    }

    &__input,
    &__btn {
        box-sizing: border-box;
        width: calc(50% - 0.5rem);
    }

    &__input--search {
        width: 100%;
    }

    &__subtitle {
        margin-top: 1rem;
    }
}

.active .filter-card {
    opacity: 1;
    pointer-events: all;
}