@use "../../styles/mixins.scss" as *;
@use "../../styles/colours.scss" as *;

.register-form {
    @include register-form;
    &__title {
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
        @include tablet{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
}

// Progress bar
.progress-bar {
    width: 80%;
    max-width: 30rem;
}