@use '../../styles/global.scss' as *;
@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;

.explorepage-container {
    position: relative;
}

#p-explorepage {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
}

.filters {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    &__header {
        display: flex;
        flex-direction: row;
        width: 100%;

        .filter-btn {
            margin-right: 0;
        }
    }

    &__title {
        font-size: $px24;
    }
}

.filter-container {
    width: 100%;
    box-sizing: border-box;

    @include desktop {
        min-width: 20rem;
        width: 20rem;
        // max-width: 20rem;
    }

    @include highres {
        width: 20rem;
    }

}

.map-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    @include desktop {
        width: calc(100% - 20rem);
    }

    .e-cc-searchcards {
        width: 100%;
        margin: -13rem auto 0 auto;

        box-sizing: border-box;
        z-index: -0;
        transition: margin 0.25s cubic-bezier(0.98, 0.13, 0.88, 0.69);


        @include desktop {
            margin-top: -12rem;
        }
    }
}