@use "../../styles/mixins.scss" as *;
@use "../../styles/colours.scss" as *;

.modal {
    position: fixed;
    z-index:1000;
    display: flex;
    top: 0;
    &__content {
        height: 100vh;
        width: 100vw;
        background-color: white;
    }
}