@use '../../../styles/colours.scss' as *;
@use '../../../styles/global.scss' as *;
@use '../../../styles/mixins.scss' as *;



.c-search {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;


    /* Define the scrollbar style */
    &::-webkit-scrollbar {
        width: 0.65rem;
        height: 0.65rem;
    }

    /* Define the thumb style */
    &::-webkit-scrollbar-thumb {
        background: $coloured-bright;
        border-radius: $px5;
    }

    /* Define the track style */
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
    }

    /* Define the button style */
    &::-webkit-scrollbar-button {
        background-color: $coloured-bright;
        border-radius: $px5;
    }

    /* Define the button style when being hovered over */
    & ::-webkit-scrollbar-button:hover {
        background-color: $shade-2;
    }



    @include desktop {
        // padding: 2rem;
        padding-bottom: 1.5rem;
    }
}

.search-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 15.3125rem;
    height: 20rem;
    padding: 1rem;
    border: thin solid $search-border;
    border-radius: $px5;


    background: rgba(255, 255, 255, 0.473);
    border-radius: 1rem;
    box-shadow: 0 $px5 2rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur($px5);
    -webkit-backdrop-filter: blur($px5);
    border: thin solid rgba(255, 255, 255, 0.3);

    @include desktop {
        max-width: 20%;
    }

    &--event {
        // background-color: red;
    }

    &--business {
        background-color: transparent;
    }

    &__title {
        color: $dark;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    &__photo {
        order: -1;

        &--image {
            width: 100%;
            // height: 10rem;
            border-radius: $px5;
        }
    }

    &__location {
        color: $shade-2;
        font-size: $px12;
        margin-top: 0.5rem;
    }

    &__description {
        margin-top: 1rem;
        font-size: $px12;
    }

    &__arrow {

        box-sizing: border-box;
        background-color: $coloured;
        height: 1.8rem;
        width: 1.8rem;
        margin-left: auto;
        border-radius: 2rem;
        padding: 0.5rem;
    }
}