@use '../../../styles/colours.scss' as *;
@use '../../../styles/global.scss' as *;


.c-search {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 1rem;
    gap: 1rem;
}

.search-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 15.3125rem;
    padding: 1rem;
    border: thin solid $search-border;
    border-radius: $px5;

    &__title {
        color: $dark;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    &__photo {
        order: -1;

        &--image {
            width: 100%;
            // height: 10rem;
            border-radius: $px5;
        }
    }

    &__location {
        color: $shade-2;
        font-size: $px12;
        margin-top: 0.5rem;
    }

    &__description {
        margin-top: 1rem;
        font-size: $px12;
    }

    &__arrow {

        box-sizing: border-box;
        background-color: $coloured;
        height: 1.8rem;
        width: 1.8rem;
        margin-left: auto;
        border-radius: 2rem;
        padding: 0.5rem;
    }
}