@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-exploremap {
    height: 100dvh;
    width: 100%;

    @include tablet {
        height: calc(100dvh - 5rem);
    }

    &__map {
        height: 100dvh;

        @include tablet {
            height: calc(100dvh - 5rem);
        }
    }
}