@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;

.c-exploremap {
    height: 100dvh;
    width: 100%;

    @include tablet {
        height: 80dvh;
    }

    &__map {
        height: 100dvh;
    }
}