@use '../../styles/colours.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/global.scss' as *;

#p-home-page {
    display: flex;
    justify-content: center;
}

.home-hero {

    font-size: 1.5rem;
    text-align: center;

    &__title {
        margin-top: 2rem;
    }

    &__description {
        font-size: 1rem;
        color: $shade-2;
        padding: 2rem 0;
    }
}

.home-search {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    &__input {
        width: 85%;
        box-sizing: border-box;
        font-size: 1.2rem;
        color: $shade-1;
        padding: 0 0.75rem;
        line-height: 0.5rem;
        height: 2.3rem;
        border: thin solid $search-border;
        border-radius: 2rem;

        @include tablet {
            width: 32rem;
        }
    }

    &__btn {
        box-sizing: border-box;
        color: $bright;
        background-color: $coloured;
        font-size: 1rem;
        line-height: 1.5rem;
        height: 1.8rem;
        background-color: $coloured;
        border-radius: 2rem;
        margin-left: -2rem;

        @include desktop {
            height: 1.6rem;
            width: 6rem;
            margin-left: -6.4rem;

        }

        &--icon {
            margin-left: auto;
            box-sizing: border-box;
            width: 1.8rem;
            padding: 0.25rem;

            @include desktop {
                display: none;
            }
        }

        &--search {
            display: none;

            @include desktop {
                display: unset;
            }
        }

    }
}